.attendance-form{
    display: flex;
    justify-content: center;
    background-color: #F8F0E5;
    height: 90vh;
}

.contact-form{
    position: absolute;
    top: 12rem;
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 2rem 5rem;
    background-color: rgba(50, 118, 181, 0.5);
    border-radius: 0.5rem;
    border: 2px solid rgba(0, 83, 160, 0.5);
    box-shadow: inset 0 1px 1px 0 hsla(0,0%,100%,.15), 0 50px 100px -20px rgba(50,50,93,.3), 0 30px 60px -30px rgba(0,0,0,.5), -10px 10px 60px -10px rgba(103,178,111,.3);
}

.form{
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 2rem;
    column-gap: 8rem;
  
}

.attendance-form h1{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: absolute;
  top: 6rem;
  color: rgb(42, 40, 40);
}

/* inspired form gumroad website */
.button {
    --bg: #3276B5;
    --hover-bg: #4b8dca;
    --hover-text: #000;
    color: #fff;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
    display: inline;
    align-self: center;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    font-size: 1.1rem;
    font-weight: 550;
    overflow: hidden;
    text-decoration: none;
    font-size: 1.2rem;
    
  }
  
  .button:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem,-0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }
  
  .button:active {
    transform: translate(0);
    box-shadow: none;
  }

  .form label{
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .form input,select{
    height: 2rem;
    width: 70%;
    border-radius: 5px;
    border: 1px solid black;
  }
